.wrapper {
	max-width: 45rem;
	margin: 0 auto;
}

body {
	font-family: Raleway,"Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
	font-size: 1.125rem;
	line-height: 1.618;
}

h1 {
	font-weight: 900;
	font-size: 3.3rem;
	line-height: 1.35;
	margin: 0.8em 0;
}

h2 {
	font-weight: 800;
	font-size: 2.3rem;
	line-height: 1.45;
	margin: 1em 0;
}

h3 {
	font-weight: 700;
	font-size: 1.85rem;
	line-height: 1.6;
	margin: 1.3em 0;
}

h4 {
	font-weight: 700;
	font-size: 1.55rem;
	line-height: 1.7;
	margin: 1.5em 0;
}

h5 {
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 1.6;
	margin: 1.6em 0;
}

h6 {
	font-weight: 500;
	font-size: 1.25rem;
	line-height: 1.6;
	margin: 1.6em 0;
}